$color-simpleBlack:#202020;
$color-blue: #07ADEF;
$color-lightBlue: #DEF5FE;
$color-darkBrlue:#1E3B47;
$font-principal:'Poppins', sans-serif;
$font-secondary: 'Josefin Sans', sans-serif;
$bg-gradient: linear-gradient($color-simpleBlack 52%, $color-darkBrlue 100%);
